:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.833);
  background-color: #3B6C53;
  --accent-color: rgba(182, 255, 219, 0.683);
  --text-color: rgba(255, 255, 255, 0.833);
  --bg-color: #3B6C53;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  transition: border-bottom 0.25s;
  border-bottom: 0.2em solid transparent;
}
a:hover {
  border-bottom: 0.2em solid var(--accent-color);
  color: var(--accent-color);
} 

body {
  margin: 0;
  display: flex;
  place-items: center;
  font-size: 1.2em;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1.01;
}

button {
  border-radius: 8px;
  border: 3px solid var(--text-color);
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s, color 0.25s;
}
button:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} 

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
